rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /**
     * @description Checks if the request is authenticated.
     */
    function isSignedIn() {
      return request.auth != null;
    }

    /**
     * @description Checks if the authenticated user ID matches the provided user ID.
     */
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    /**
     * @description Checks if the authenticated user ID matches the provided user ID and the resource exists.
     */
    function isExistingOwner(userId) {
        return (isOwner(userId) && exists( /databases/$(database)/documents/users/$(userId) ));
    }

    /**
     * @description Defines read and write access rules for user documents.
     * @path /users/{userId}
     * @allow (get, update, delete) if the user is the owner of the document.
     * @allow (create) if the user id matches the authenticated user.
     * @deny (create) if the user id does not match the authenticated user.
     * @deny (list) always. User listing is not permitted.
     * @principle Enforces document ownership for reads and writes and ensures a user can only create their own profile.
     */
    match /users/{userId} {
      allow get: if isOwner(userId);
      allow list: if false;
      allow create: if isOwner(userId);
      allow update: if isOwner(userId);
      allow delete: if isOwner(userId);
    }

    /**
     * @description Defines read access rules for role documents.
     * @path /roles/{roleId}
     * @allow (get, list) Allow public read access.
     * @deny (create, update, delete) always.
     * @principle Allows public read access to roles while preventing unauthorized modifications.
     */
    match /roles/{roleId} {
      allow get: if true;
      allow list: if true;
      allow create, update, delete: if false;
    }

    /**
     * @description Defines read and write access rules for campaign documents.
     * @path /campaigns/{campaignId}
     * @allow (get, list) Allow public read access.
     * @deny (create, update, delete) always.
     * @principle Allows public read access to campaigns while preventing unauthorized modifications.
     */
    match /campaigns/{campaignId} {
      allow get: if true;
      allow list: if true;
      allow create, update, delete: if false;
    }

    /**
     * @description Defines read and write access rules for voter documents.
     * @path /voters/{voterId}
     * @allow (get, list, create, update, delete) Allow public read and write access.
     * @principle Allows public read and write access to voters.
     */
    match /voters/{voterId} {
      allow get: if true;
      allow list: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;
    }

    /**
     * @description Defines read access rules for city documents.
     * @path /cities/{cityId}
     * @allow (get, list) Allow public read access.
     * @deny (create, update, delete) always.
     * @principle Allows public read access to cities while preventing unauthorized modifications.
     */
    match /cities/{cityId} {
      allow get: if true;
      allow list: if true;
      allow create, update, delete: if false;
    }

    /**
     * @description Defines read and write access rules for task documents.
     * @path /tasks/{taskId}
     * @allow (get, list) Allow public read access.
     * @deny (create, update, delete) always.
     * @principle Allows public read access to tasks while preventing unauthorized modifications.
     */
    match /tasks/{taskId} {
      allow get: if true;
      allow list: if true;
      allow create, update, delete: if false;
    }
  }
}