@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 94%;
    --foreground: 232 65% 20%;
    --card: 231 60% 99%;
    --card-foreground: 232 65% 20%;
    --popover: 231 60% 99%;
    --popover-foreground: 232 65% 20%;
    --primary: 232 65% 30%;
    --primary-foreground: 210 40% 98%;
    --secondary: 232 30% 88%;
    --secondary-foreground: 232 65% 30%;
    --muted: 232 30% 88%;
    --muted-foreground: 232 30% 50%;
    --accent: 45 100% 51%;
    --accent-foreground: 232 65% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 30% 80%;
    --input: 232 30% 80%;
    --ring: 45 100% 51%;
    --chart-1: 232 65% 30%;
    --chart-2: 45 100% 51%;
    --chart-3: 232 40% 50%;
    --chart-4: 45 80% 70%;
    --chart-5: 232 50% 40%;
    --radius: 0.5rem;

    --sidebar-background: 232 65% 18%;
    --sidebar-foreground: 231 60% 85%;
    --sidebar-primary: 45 100% 51%;
    --sidebar-primary-foreground: 232 65% 18%;
    --sidebar-accent: 232 65% 25%;
    --sidebar-accent-foreground: 231 60% 95%;
    --sidebar-border: 232 65% 25%;
    --sidebar-ring: 45 100% 51%;
  }

  .dark {
    --background: 232 20% 11%;
    --foreground: 231 60% 94%;
    --card: 232 20% 15%;
    --card-foreground: 231 60% 94%;
    --popover: 232 20% 11%;
    --popover-foreground: 231 60% 94%;
    --primary: 231 60% 94%;
    --primary-foreground: 232 65% 30%;
    --secondary: 232 20% 20%;
    --secondary-foreground: 231 60% 94%;
    --muted: 232 20% 20%;
    --muted-foreground: 232 20% 60%;
    --accent: 45 100% 51%;
    --accent-foreground: 232 65% 18%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 20% 20%;
    --input: 232 20% 20%;
    --ring: 45 100% 51%;
    --chart-1: 231 60% 94%;
    --chart-2: 45 100% 51%;
    --chart-3: 231 50% 70%;
    --chart-4: 45 80% 60%;
    --chart-5: 231 60% 80%;
    
    --sidebar-background: 232 20% 11%;
    --sidebar-foreground: 231 60% 85%;
    --sidebar-primary: 45 100% 51%;
    --sidebar-primary-foreground: 232 65% 18%;
    --sidebar-accent: 232 20% 20%;
    --sidebar-accent-foreground: 231 60% 95%;
    --sidebar-border: 232 20% 18%;
    --sidebar-ring: 45 100% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
